@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
    animation: fade 2s steps(1, end) infinite;
}

@keyframes fade {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}